# Thread Config
threadPoolCount=4

# Threshold for report validation
threshold=100

# File destination
filePath=user/home/

# ORACLE
oracle.username=user
oracle.password=pass
oracle.url=url

# SOLR
solr.groups=http://localhost:8983/solr/groups
solr.samples=http://localhost:8983/solr/samples
solr.merged=http://localhost:8983/solr/merged

# MAIL - not in use yet
mail.protocol=smtp
mail.host=localhost
mail.port=25
mail.smtpAuth=false
mail.smtpStarttlsEnable=false
mail.from=me@localhost
mail.username=
mail.password=